*{
  font-family:cursive;
  color:white;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  max-width: 600px;
  min-width: 450px;
  margin: 0px;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  display:flex;
  flex-direction: column;
}
h1{
  background-color: darkcyan;
  border: orange solid;
  border-radius: 7px;
  margin: 3px;
}
h1:hover{
cursor:default;
}
h3{
  color:darkcyan;
}
p{
  background-color: darkcyan;
  border: orange solid;
  border-radius: 7px;
  margin: 3px;
  min-width: 450px;
}
p:hover{
  background-color: white;
  color: orange;
  border:darkcyan solid;
  cursor:pointer;
}

/* FeatPup */
div{
  background-color: orange;
  color: white;
  border:darkcyan solid;
  border-radius: 7px;
  min-width: 444px;
  margin:3px;
}
div:hover{
  cursor: default;
}
h2{
  background-color: orange;
  border-radius: 7px;
  color:white;
}
ul{
  background-color: orange;
  list-style: none;
  padding:0px;
  margin:0px;
  text-align: left;
  display:flex;
  justify-content: space-evenly;
  width:100%;
}
li{
  background-color: orange;
  color:white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  width:100%;
}
